$font-family-sans-serif: 'SBB Web', sans-serif;
$headings-font-weight:    700;

$text-color: #fff;

$panel-bg: #000;
$panel-border-radius: 10px;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 #000;
$btn-primary-border:             #fff;

$btn-success-color:              #fff !default;
$btn-success-bg:                 #000;
$btn-success-border:             transparent;

$btn-border-radius-base:         0;